<div class="panel panel-danger">
	<div class="panel-heading">
		<h1 class="panel-title">
			<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			有料会員様のみフォーラムをご利用できます。
		</h1>
	</div>
    <div class="panel-body">
        <p>大変恐れ入りますが、フォーラムのご利用は有料会員様限定のコンテンツとなっております。
        </p>
    </div>
</div>