<!-- panels -->
<div class="panel panel-success">
	<div class="panel-heading">
		<h1 class="panel-title">
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			購入可能期限切れドメインリスト
		</h1>
	</div>
    <div class="panel-body">
        <p>
            24時間以内(世界時間<%= @domains_ok.first.gmt %>)に期限が切れ、購入可能状態になったばかりの、最新中古ドメインリストです。<br />
            取得可否の調査日時(日本時間)：<%= @domains_ok.first.lookup_available_date %> /　ドメイン数：<%= @domains_ok.count %>個
        </p>
        <p>
            GoogleChrome、Firefoxを推奨します。<br />
            POP-UP画面内の表示を小さくする場合は「Controlキー + マウスホイール」などで縮小表示させるとよいです。<br />
            テーブルはスクロールしていない状態で見出しをクリックするとソートできます。<br />
        </p>
    </div>
</div>
