


<% @domains_ng = Domain.where.not(ngcheck: "ok") %>

<h1>
<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
</h1>

<!-- panels -->
<div class="panel panel-danger">
	<div class="panel-heading">
		<h1 class="panel-title">
			<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
			NGリスト
		</h1>
	</div>
    <div class="panel-body">
        <p>
            最終チェック日時：<%= @domains_ng.first.lookup_available_date %><br />
            今回は、以下のドメインをNGリストに入れました。<br />
            なお、NGリスト入りしたドメインは当サービスで提供している期限切れ(中古)ドメインリストには含めておりません。<br />
        </p>
    </div>
    <table class="table table-bordered table-striped alt-table-responsive">
        <thead>
            <tr>
                <th class="warning col-xs-3 col-ms-3 col-md-4 col-lg-4">ドメイン</th>
                <th class="warning col-xs-3 col-ms-3 col-md-4 col-lg-4">NG判定の理由</th>
            </tr>
        </thead>
        <tbody>
        <% @domains_ng.each do |ng| %>
            <tr>
                <td><%= ng.name %></td>
                <td><%= ng.ngcheck.html_safe %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>

