
@charset 'UTF-8';
/* 縦書きレイアウト用スタイルシート tate-style.css   
    last updated : Mar 27 , 2013 tyz@freefielder.jp
    http://freefielder.jp http://tategaki.info/
*/
th { font-size:12px; text-align:center;}
td { font-size:12px; }
/*.domain { min-width:200px; max-width:200px !important; }*/
td.domain { font-size:12px; }
.pr { width:28px !important; }
td.pr { text-align:center; }
th.blsyousai { width:48px !important;}
td.blsyousai { text-align:center; }
.wayback { width:53px !important; }
td.wayback { text-align:center; }

th.cheki { width:46px !important; }
td.cheki { text-align:center; }
td.index_count { text-align:center; }
/*th.dofollow_pr {  }*/
/*th.nofollow_pr {  }*/
td.ip_bunsanritsu { font-size:12px !important; }
td.ip_unique_count { font-size:12px !important; }
td.ip_all_count { font-size:12px !important; }
th.china { text-align:center !important; }
td.moz_rank { font-size:12px !important; }
td.moz_da { font-size:12px !important; }
td.moz_pa { font-size:12px !important; }
td.awy { font-size:12px !important; }

div.tate-area{
	float:right;
	font-size:12pt;
}

div.tate-line{
	float:right;
	width:1.05em;
	line-height:1.05em;
	margin-right:0.3em;
	margin-left:0.3em;
	padding-bottom:0.2em;
	font-family:'ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ ゴシック','MS Gothic','SimHei','HiraKakuProN-W3','STHeitiJ-Medium','TakaoExゴシック','TakaoExGothic','MotoyaLCedar','Droid Sans Japanese','Droid Sans Fallback',monospace;
	word-wrap:break-word;
	direction:ltr;
}

table.tablesorter thead tr th {
	background-color: #e6EEEE;
	/*border: 1px solid #FFF;*/
	/*font-size: 8pt;*/
	/*padding: 4px; */

}


table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

/*テーブルを1行おきに背景色を変える*/
table tr:nth-child(2n) td {
    background: #DDEEFF;
}

#sorter .tr-odd {
	background: #ffffff;
}

#sorter .tr-selected {
	background: #dff3c4;
}

/* スクロールするとかなりズレた */
/*.domain_table {
	width:100px !important;
}
*/